body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Roboto;
  color: #2c3e50;
}

input,
button,
select {
  outline: none;
}

a {
  text-decoration-line: underline;
  cursor: pointer;
  color: #4D8CF8;
}

.btn {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}

.main-btn {
  background-color: #4D8CF8;
  border: 1px solid #4081F0;
}

.main-btn:hover {
  background-color: #3578EA;
  transition: all .5s;
}

.stop-btn {
  background-color: #F87575;
  border: 1px solid #F36262;
}

.stop-btn:hover {
  background-color: #F36262;
  transition: all .5s;
}

:disabled {
  opacity: .7;
  cursor: not-allowed;
}