body {
  width: 60%;
  margin: auto;
  font-size: 14px;
}

section {
  border-bottom: 1px solid #bfcbd9;
  padding-bottom: 15px;
}

div {
  line-height: 32px;
}

label {
  margin-left: 3px;
}

.item {
  margin-top: 15px;
}

.button {
  height: 25px;
  width: 60px;
}

#mic_tip {
  display: none;
}