body {
  width: 60%;
  margin: 0 auto 30px;
  font-size: 14px;
}

section:not(.last) {
  border-bottom: 1px solid #bfcbd9;
  padding-bottom: 15px;
}

div {
  line-height: 30px;
}

ul {
  margin: 0;
}

label {
  margin-left: 3px;
}

.item {
  margin-top: 15px;
}

.button {
  height: 25px;
  width: 60px;
}

#mic_tip {
  display: none;
}