body {
  width: 260px;
  padding: 0 10px;
}

header {
  height: 40px;
  margin-bottom: 5px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section {
  border-bottom: 1.5px dotted #bfcbd9;
  padding-bottom: 20px;
}

.bottom-section {
  padding: 20px 0 10px 0;
}

.headline {
  font-size: 18px;
  color: #4D8CF8;
  margin: 0;
}

.info {
  font-size: 13px;
}

.icon-wrap {
  margin-top: 10px;
}

#micBtn {
  cursor: pointer;
}

#results {
  box-sizing: border-box;
  border: 1px solid #bfcbd9;
  border-radius: 5px;
  font-size: 14px;
  width: 240px;
  min-height: 80px;
  max-height: 160px;
  overflow-y: auto; /* scroll */
  padding: 10px;
  margin: 10px 0 8px 0;
}

.final {
  color: #222;
  padding-right: 3px;
}

.interim {
  color: #bfcbd9;
}

.big-btn {
  padding: 8px 16px;
  width: 160px;
}